# GitHub Linguist language detection
*.ts linguist-language=TypeScript
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.json linguist-language=JSON
*.md linguist-language=Markdown
